<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AllTargets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libimagic-debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libimagic-rel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A4537201C62085F00B9B19F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A45372D1C62086A00B9B19F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A7CBC691C62277B006FD3A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A7CBC6F1C622B8A006FD3A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AB0E93E1C5FF74F00D325BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AB0E9581C600EF800D325BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
